entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  myresolver:
    acme:
      email: lachhebbrahim09@gmail.com         # <-- Mets ton mail
      storage: /acme/acme.json
      httpChallenge:
        entryPoint: web
