name: CI/CD Pipeline

on:
  push:
    branches: [ "master" ]

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            lachheb/biscuitimport:v2

  deploy:
    needs: build-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Pull the new image
            docker pull lachheb/biscuitimport:v2
            
            # Stop and remove the old container (if it exists)
            docker stop frontend || true
            docker rm frontend || true
            
            # Run the new container
            docker run -d \
              --name frontend \
              --restart unless-stopped \
              -e VITE_API_BASE_URL=${{ secrets.VITE_API_BASE_URL }} \
              -p 5173:5173 \
              lachheb/biscuitimport:v2